<div class="admin_content">

<% admin_form_for :import, @importer do |f| -%>
  <%= f.header 'CSV Import' %>
  <%= f.filemanager_file :csv_file_id, :label => 'CSV File' %>
  <%= f.header 'Import RSS Feed' %>
  <%= f.text_field :url, :label => 'RSS URL' %>
  <%= f.custom_field '', :value => 'Or' %>
  <%= f.filemanager_file :rss_file_id, :label => 'RSS File' %>
  <%= f.spacer %>
  <%= f.cancel_submit_buttons %>
<% end -%>

</div>
